.address-list {
  border-bottom: solid #e2e2e2 1px;
  position: relative;
}

.address-city-active {
  color: blue;
}

.address-town-active {
  color: pink;
}
.address-village-active {
  color: #ff8a3d;
}
