$gray: #8b8b8b;

.bartering-wrapper {
  width: 100%;
  border: 1.5px solid #e2e2e2;
  margin-bottom: 1rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.bartering-area {
  height: 150px;
  display: flex;

  .bartering-area-image {
    width: 30%;
    display: flex;
    position: relative;
    .status {
      position: absolute;
      margin: 0;
      width: 60%;
    }
    .bartering-photo {
      width: 100%;
    }
  }

  .bartering-description-content {
    font-family: "S-CoreDream-9Black";
    width: 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;

    div {
      color: black;
      width: 100%;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .bartering-location {
      color: $gray;
    }

    .bartering-price {
      color: #ff8a3d;
    }
  }
}

.no_item {
  width: 100%;
}
