.bartering-detail-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  font-family: initial;

  .bartering-detail-wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 4rem;
    overflow: scroll;
  }

  .image-area {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 90%;
    margin-bottom: 1rem;
    .iamge-prev-btn {
      position: absolute;
      color: #fff;
      font-size: 2rem;
      padding: 1rem;
      z-index: 2;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .bartering-detail-description-area {
    padding: 0 1rem;
    .bartering-detail-profile {
      display: flex;
      margin-bottom: 1rem;
      .bartering-detail-profile-icon {
        width: 3rem;
      }

      div {
        display: flex;
        flex-direction: column;
      }

      .bartering-detail-address {
        color: #8b8b8b;
      }
    }
  }

  .bartering-detail-content {
    font-family: "BMJUA";

    .bartering-detail-profile-icon {
      width: 4rem;
    }

    div {
      margin: 0.5rem 0;
    }
    .bartering-detail-title {
      // font-family: "Black Han Sans", sans-serif;
      // font-family: initial;
      font-size: 1.3rem;
    }

    .bartering-detail-category {
      color: gray;
    }

    .bartering-detail-date {
      color: gray;
    }

    .bartering-detail-substance {
      margin: 1.5rem 0;
      font-size: 1.1rem;
      line-height: 2;
    }
  }
}
