$pink: #ff9697;
$light-gray: #e2e2e2;

header {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0.5, 0.5, 0.5, 0.5);
  z-index: 1000;
  .fixed-header-content {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  .fixed-header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    .fixed-header-title-text {
      font-size: 1.5rem;
      color: $pink;
    }
  }
  .fixed-header-search-box {
    font-family: "Black Han Sans", sans-serif;

    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    input {
      text-indent: 1em;
      width: 100%;
      height: 100%;
      font-size: 1rem;
    }
  }
}

.search-Icon {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 20px;
  height: 20px;
  fill: #ff9697;
}
