$pink: #ff9697;
$light-gray: #e2e2e2;

header {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0.5, 0.5, 0.5, 0.5);
  z-index: 1000;
  top: 0;
  left: 0;

  .fixed-header-content {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  .fixed-header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    .fixed-header-title-text {
      font-size: 1.5rem;
      color: $pink;
    }
  }
  .fixed-header-search-box {
    font-family: "Black Han Sans", sans-serif;

    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img {
      width: 1.5rem;
      height: 1.5rem;
    }
    .search-Icon {
      margin-right: 1rem;
    }

    .category-setting-btn {
      margin-left: 1rem;
    }
  }
}

.none {
  display: none;
}
.inline {
  display: inline;
}
