$gray: #8b8b8b;
$pink: #ff9697;

nav {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  background-color: #fff;
  box-shadow: 0 3px 5px 0 rgba(0.5, 0.5, 0.5, 0.5);
  position: fixed;
  z-index: 1000;
  .nav__navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-around;
    .nav__naviagtion--nav-text {
      color: $gray;
      text-decoration: none;
      font-size: 1.2rem;
      // &:nth-child(n + 2) {
      //   margin-left: 10rem;
      // }
      &:hover {
        color: $pink;
      }
    }
    .chat-area-absolute {
      position: relative;
      top: 0;
      left: 0;
    }
    .active {
      color: $pink;
    }
  }
}

.chat-area {
  position: relative;
  top: 0;
  left: 0;
  div {
    position: absolute;
    top: -23px;
    right: -10px;
    color: white;
    background-color: #ff8a3d;
    padding: 0.4rem;
    border-radius: 50%;
  }
}
