.router-section {
  width: 100%;
  left: 0;
  overflow: scroll;
  position: fixed;
}

.header-footer {
  top: 5.2rem;
  bottom: 4.5rem;
}

.footer-only {
  top: 0;
  bottom: 4.5rem;
}

.photoImage {
  width: 5rem;
}
