$pink: #ff9697;

.signin-Content {
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  .touring {
    font-family: "BMJUA";

    position: absolute;
    top: 2rem;
    right: 2rem;
    color: #8b8b8b;
  }
  .signin-Form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 100%;
    background-color: #fbfbfb;
  }

  .signin-Box {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    font-family: "S-CoreDream-9Black";

    .inputForm {
      width: 100%;
      display: flex;
      text-align: center;
      flex-direction: column;
      label {
        text-align: initial;
        margin-bottom: 0.5rem;
      }
    }

    h2 {
      font-size: 2.5rem;
      color: $pink;
    }

    input {
      text-indent: 0.8em;
      padding: 0.3rem;
      font-size: 1.2rem;
      margin-bottom: 1.3rem;
    }

    label {
      font-family: "BMJUA";
    }

    input[type="checkbox"] {
      font-weight: normal;
    }
  }

  .btn-content {
    display: flex;
  }

  .checkbox-content {
    display: flex;
    justify-content: space-around;
  }

  .otherLink {
    font-family: "BMJUA";
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5rem;
    padding-right: 1rem;
  }
  .login-btn {
    float: right;
    font-family: "BMJUA";
    padding-right: 1rem;
    margin-bottom: 3rem;
  }

  .address {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    select {
      font-family: "BMJUA";

      font-size: 1.2rem;
    }
  }
}
