$pink: #ff9697;

.user-container {
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  .touring {
    font-family: "BMJUA";

    position: absolute;
    top: 2rem;
    right: 2rem;
    color: #8b8b8b;
  }
  .user-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 100%;
    background-color: #fbfbfb;
  }

  .user-content {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    font-family: "S-CoreDream-9Black";

    .user-input-area {
      width: 100%;
      display: flex;
      text-align: center;
      flex-direction: column;
      label {
        text-align: initial;
        margin-bottom: 0.5rem;
      }
    }

    h2 {
      font-size: 2.5rem;
      color: $pink;
    }

    input {
      text-indent: 0.8em;
      padding: 0.3rem;
      font-size: 1.2rem;
      margin-bottom: 1.3rem;
    }

    label {
      font-family: "BMJUA";
    }
  }

  .button-area {
    display: flex;
  }

  .checkbox-area {
    display: flex;
    justify-content: space-around;
  }

  .user-link-area {
    font-family: "BMJUA";
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5rem;
    padding-right: 1rem;
  }
  .login-btn {
    float: right;
    font-family: "BMJUA";
    padding-right: 1rem;
    margin-bottom: 3rem;
  }

  .address {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    select {
      font-family: "BMJUA";

      font-size: 1.2rem;
    }
  }
  .user-margin-bottem {
    margin-bottom: 9rem;
  }

  @media all and (min-width: 350px) {
    .user-margin-bottem {
      margin-bottom: 1rem;
    }
  }
}

.user-profile-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .user-profile-image-area {
    position: relative;
    top: 0;
    left: 0;
    .user-profile-image {
      width: 7rem;
      height: 7rem;
      position: relative;
      border-radius: 50%;
      top: 0;
      left: 0;
    }
    .user-profile-camera {
      position: absolute;
      bottom: 0.5rem;
      right: 0;
    }
    .user-profile-delete {
      position: absolute;
      width: 2rem;
      height: 2rem;
      top: 0;
      left: 0.5rem;
    }
  }
}

@media all and (min-width: 350px) {
  .user-title-area {
    display: none;
  }
  .user-margin-bottem {
    margin-bottom: 1rem;
  }
}
